body.account {
    // impedir cancelamento pedido
    .myo-cancel-btn {
        opacity: 0;
        display: none;
        width: 1px;
        height: 1px;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        pointer-events: none;
    }
}
