$primaryLight: #3bf23a;
$primary: #3bf23a;
$primaryDark: #29df28;

$secondaryLight: #010048;
$secondary: #010048;
$secondaryDark: #01012f;

$white: #fff;
$white2: #f8f8f8;
$white3: #f4f4f4;

$gray1: #f0f0f0;
$gray2: #d7d7d7;
$gray3: #c1c1c1;
$gray4: #9e9e9e;
$gray5: #838383;
$gray6: #535353;

$black: #000000;
$black1: #111111;
$black2: #222222;

$feedbackSuccess: #1ca33d;
$feedbackLoad: #eee;
$feedbackError: #f05555;

$whatsappPrimary: #25d366;
$whatsappSecondary: #1eb456;

$text: rgba(115, 115, 115, 1);
$textLight: #737373;
$placeholderText: rgba(78, 78, 78, 0.75);

/* sizes */
$containerPadding: 35px;
$containerWidth: 1200px;
$containerBigWidth: 1440px;
$maxRowWidth: 2560px;
$defaultRadius: 10px;

// arquivos folders
$mediaVtex: "/arquivos/";

// fonts
$fontFamily__default: 'Roboto', 'Arial', 'Calibri', sans-serif;

// font weight
$fwThin: 100;
$fwExtraLight: 200;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;
$fwBlack: 900;
